@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
/*para text font-family: 'Poppins', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/*'Lobster Two', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Sirin+Stencil&display=swap');
/*'Sirin Stencil', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');
/*Domain name font*/
@import url('https://fonts.googleapis.com/css2?family=Overlock+SC&display=swap');
/*Slogan font*/
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
/*India header*/
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');
/*Noto sans font-family: 'Noto Sans', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap');
/*India text*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols:wght@300&display=swap');

.webheader{

    font-family: 'Cinzel Decorative', cursive;
    font-size: 250%;
    color: #5b3629;
    text-align: left;
    stroke: 1px,white;
    margin-left: 9%;
    letter-spacing: 0.1cm;

    
}

.slogan{
    font-family: 'Julius Sans One', sans-serif;
    font-size: 40%;
    letter-spacing:0.3cm;
}
.paratext{
    
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    color: black;
    font-size:18px;
    margin-left: 5%;
    margin-right: 5%;

}


.profileicon{
    width: 75%;
    height: 75%;
    object-position: 1cm;
}


.domain_names{
    font-family: 'Overlock SC', cursive;
    font-size: 21px;
    color: #5b3629;
}

.box{
    stroke: #5b3629;
    stroke-width: 1%;
    fill: none;
    
}

.indiarect{
    height: 580px;
    width: 1478px;
    background-color: black;
    position:absolute;
    top: 20%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    margin-left:2%;
    margin-right:5%;
    box-shadow: 0px 0px 1px 2px grey;

    
    
}


.indiaheader{
    font-family: 'Cinzel', serif;
    color: white;
    font-size: 270%;
    left: 12%;
    bottom: 62%;
}



.inkartext{
    font-family: 'Noto Sans Symbols', sans-serif;
    font-size: medium;
    color: white;
    font-size:18px;
    margin-left: 2.5%;
    margin-right: 3%;
    position: absolute;
    left:3% ;
    top:33%;
    letter-spacing: 0.05cm;
}

.karnatakarect{
    height: 580px;
    width: 1478px;
    background-color: black;
    position:absolute;
    top: 110%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    margin-left:2%;
    margin-right:5%;
    box-shadow: 0px 0px 1px 2px grey;
}


.invscb::-webkit-scrollbar{
    display: none;
}


.credits{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    color:gray;
    font-size: 12px;
}
