@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


.webheader{

    font-family: 'Lobster Two', cursive;
    font-size: 200%;
    color: #47294c;
    text-align: left;
    stroke: 1px,white;
    margin-left: 9%;

    
}


.paratext{
    
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    color: black;
    font-size:18px;
    margin-left: 5%;
    margin-right: 5%;

}


.square{
    height: 50px;
    width: 60px;
    background-image: linear-gradient(to bottom right,#dbd3d1,black)
}
